*{
    box-sizing:border-box;
}

body{
   font-family:Helvetica; 
}

html, body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    color:#5f6368;
}

#page_wrapper{
    margin:0 auto;
    min-height:740px;
    min-width:960px;
    height:100%;
    width:100%;
}

#header{
    height:100px;
    width:100%;
    line-height:100px;
    font-size:65px;
    text-align:center;
    background-color:#f2f2f2;
    border-bottom:1px solid #e4e4e4;
}

#game{
    height:calc(100% - 100px - 30px);
}

#game_details{
    height:150px;
    padding-top:15px;
}

#game_details h3{
    text-align:center;
    margin-top:0;
}

#game_details p{
    padding:10px;
    text-align:center;
}

#game_options{
    height:calc(100% - 150px - 250px);
    display:flex;
    justify-content:space-around;
}

#game_options > div{
    width:30%;
    margin:25px;
}

#game_options img{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:250px;
    width:250px;
}

#game_options img:hover{
    cursor:pointer;
    box-shadow:5px 5px 5px grey;
    border-radius:38px;
}

#game_results{
    height:250px;
    text-align:center;
}

#new_game{
    border:none;
    height:30px;
    font-size:20px;
    border-radius:5px;
    background-color:#20e6a0;
}

#new_game:hover{
    cursor:pointer;
    box-shadow:3px 3px 5px grey;
}

#game_results > span{
        width:250px;
        background-color:#ccc;
        display:inline-block;
        height:30px;
        line-height:30px;
        font-size:20px;
        margin:10px;
        border-radius:10px;
}

#footer{
    height:30px;
    line-height:30px;
    font-size:14px;
    text-align:center;
    width:100%;
    background-color:#f2f2f2;
    border-top:1px solid #e4e4e4;
}

#footer a:link, #footer a:visited, #footer a:active{
    color:initial;
    text-decoration:none;
    color:#5f6368;
}

#footer a:hover{
    text-decoration:underline;
    cursor:pointer;
    color:#000;
}
